:root {
  --bg-dark: #1c2836;
  --green: #3eb998;
}

@media(min-width: 1200px) {
  .ui-dialog.ui-dialog.ui-corner-all {
    left: 5% !important;
    max-width: 90% !important;
  }
}

@media(min-width: 1400px) {
  .ui-dialog.ui-dialog.ui-corner-all {
    left: 10% !important;
    max-width: 80% !important;
  }
}


.InputfieldContent .description {
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: -8px !important;
}

/*  PW PageTable
=========================================================== */
.InputfieldPageTable .gridImage__overflow {
  width:100px !important;
  height:32px !important;
  background: white !important;
}

.InputfieldPageTable table td {
  vertical-align: middle;
}

.InputfieldPageTable table td:not(:first-child) {
  font-size: 0.9rem;
}


/* Forms
=========================================================== */
textarea.error,
select.error,
input.error {
  border-color: #ff0000;
}

/*  Grid
=========================================================== */

#admin-grid-sidebar {
  width: 230px !important;
}

#admin-sidebar {
  width: 180px !important;
}

@media (min-width: 1200px) {
  .uk-grid-divider {
    margin-left: -50px;
  }
  .uk-grid-divider > * {
    padding-left: 50px;
  }
  .uk-grid-divider > :not(.uk-first-column)::before {
    left: 25px;
  }
}

/* ----------------------------------------------------------------
  Custom Table
------------------------------------------------------------------- */

tr.is-hidden td:not(.table-actions),
tr.is-hidden td:not(.table-actions) * {
  color: #777 !important;
}

tr:not(.is-hidden) .fa-toggle-off:not(.cog-spin):before,
tr:not(.is-hidden) .fa-toggle-on:not(.cog-spin):before {
  content: "\f205" !important;
}

tr.is-hidden .fa-toggle-off:not(.cog-spin):before,
tr.is-hidden .fa-toggle-on:not(.cog-spin):before {
  content: "\f204" !important;
}

.fa.cog-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa.cog-spin:before {
  content: "\f013" !important;
}

.table-actions a {
  font-size: 18px;
  margin-left:10px;
}

.table-actions a:hover {
  text-decoration: none;
}

.uk-table a:hover {
  text-decoration: none;
}

.uk-icon-button.button-action {
  position:relative;
  width: 28px;
  height: 28px;
}
.uk-icon-button.button-action + .uk-icon-button.button-action {
  margin-left: 5px;
}

.is-hidden .uk-icon-button.button-success {
  background: #f0f3f7 !important;
  color: #354b60 !important;
}

.uk-icon-button.button-success {
  background-color: #3eb998;
  color: #fff !important;
}

.is-hidden .uk-icon-button.button-danger,
.uk-icon-button.button-danger {
  background-color: #e83561;
  color: #fff !important;
}

.admin-table-compact {
  font-size: 14px;
}

.admin-table-compact th {
  font-size: 13px;
  text-transform: none;
}

.uk-table th {
  padding: 10px 12px;
  font-size: 14px;
  text-transform: none;
}

/* Sortable Table
======================================================================== */

.handle {
  cursor: grab;
  cursor: -webkit-grab;
}

table .ui-sortable-helper .handle {
  cursor: move;
}

table .ui-sortable-helper {
  background: #fff;
  border:1px solid #ddd;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  width:100%;
}

#sortable a > .fa {
  font-size:20px;
}

#sortable a:hover {
  text-decoration: none;
}

.ui-sortable-helper > td:not(:first-child):not(:nth-child(2)) {
  display:none;
}

.sorter-false .tablesorter-header-inner:after {
  display:none !important;
}

.sorter-false input[type="checkbox" i],
.sorter-false input.table-checkbox-all *,
.sorter-false input.table-checkbox-all {
  margin:0 !important;
}

/*  Tabs
=========================================================== */
.uk-tab .uk-icon-button {
  position: relative;
  width: auto;
  height: auto;
  top: 10px;
  margin-left: 15px;
  background: none;
}

.uk-tab .uk-icon-button svg {
  height: 18px;
}

/*  Labels
=========================================================== */
.uk-label {
  font-size: 12px !important;
  line-height: 1 !important;
  padding: 5px 10px;
}

/*  Icons
=========================================================== */
.uk-icon svg * {
  stroke-width: 1.5 !important;
}
/* Icon Buttons
=========================================================== */
.uk-icon-button {
  width: 30px;
  height: 30px;
}
.uk-icon-button svg {
  width:18px;
  height: 18px;
}

/*  Buttons
=========================================================== */
.btn {
  background: none;
  border: none;
}
.btn:hover {
  cursor: pointer;
}

.uk-button-secondary {
  color: #1c2836 !important;
}

.uk-background-muted .uk-button-default:not(:hover) {
  background: white;
  border-color: white;
}

.uk-button {
  border-radius: 3px;
}

.uk-link-heading:hover {
  color: #e83561 !important;
}

/*  Tooltip
=========================================================== */
.uk-tooltip {
  background: var(--bg-dark);
}

/*  Dropdown
=========================================================== */

.uk-tab .uk-dropdown,
table .uk-dropdown {
  padding:0;
  min-width: 160px;
  border-radius: 3px;
  overflow: hidden;
  z-index:99;
}

.uk-tab .uk-dropdown .uk-nav > li > a,
table .uk-dropdown .uk-nav > li > a {
  padding:7px 15px;
}

.uk-tab .uk-dropdown .uk-nav > li:hover > a,
table .uk-dropdown .uk-nav > li:hover > a {
  background: #f8f8f8;
}

.uk-tab .uk-dropdown .uk-nav > li + li > a,
table .uk-dropdown .uk-nav > li + li > a {
  border-top:1px solid #ddd;
}

.uk-tab .uk-dropdown > .uk-spinner,
table .uk-dropdown > .uk-spinner {
  padding: 20px;
}

.uk-tab .uk-dropdown .uk-spinner > svg,
table .uk-dropdown .uk-spinner > svg {
  width: 20px !important;
  height: 20px !important;
}

/*  Subnav
=========================================================== */
.uk-subnav * {
  text-transform: none !important;
}


/*  HTMX
=========================================================== */
.htmx-spinner,
#admin-htmx-indicator {
  display:none; 
}
.htmx-request .htmx-spinner,
.htmx-request #admin-htmx-indicator {
  display:inline;
}
.htmx-request.htmx-spinner,
.htmx-request#admin-htmx-indicator {
  display:inline;
}



/*  Modals
=========================================================== */
.uk-modal-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.uk-lightbox.uk-open {
  background: rgba(0,0,0,0.3) !important;
}

/*  Subnav
=========================================================== */
.admin-subnav.uk-subnav {
  margin-left: -10px;
}
.admin-subnav.uk-subnav > * {
  padding-left: 10px;
}
.admin-subnav.uk-subnav > * > * {
  text-transform: none !important;
}

.admin-subnav.uk-subnav-divider > *:first-child:before {
  display: none;
}

.admin-subnav.uk-subnav-divider > ::before {
  margin-right: 10px;
  line-height:1;
}

.admin-subnav .uk-button {
  line-height: 26px;
  font-size: 13px;
}

.admin-subnav .uk-button-primary:hover,
.admin-subnav .uk-button-primary:focus,
.admin-subnav .uk-button-primary:active,
.admin-subnav .uk-button-primary {
  color: white;
}

.InputfieldContent .admin-subnav.uk-subnav {
  margin-top: 5px !important;
}

.admin-subnav li > b {
  color: #333 !important;
}

/*  Notification
=========================================================== */

.uk-notification-message {
  font-size: 16px !important;
  border-radius:3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.uk-notification-message-success {
  background-color: #3eb998 !important;
  color: white !important;
}

.uk-notification-message-danger {
  background-color: #e83561 !important;
  color: white !important;
}

.uk-notification-close {
  color: white !important;
}